@media (max-width:1000px) {
   
    .cabecalho .menu{
        
        display: list-item;
        align-items: center;
        height: 100%;
    
    }
    body {
        background-color: #f44;
    }

    .fundo-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;

    }

    .container .mario {
        max-width: 50%;
        
    }

    .container .informacoes{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .container .descricao{
        color: white;
        text-align: center;
    }

    .container .botao-trailer{
        background-color: #263238;
    }
}

@media (max-width :800px){
  
    .container .imagemm-titulo{
        max-width:  50%;
    }


    .modal .fechar-modal{
        width: 30px;
        line-height: 30px;
    }

    .modal #video{
        width: 300px;
        height: 140px;
    }
}

@media(max-width: 400px){
    
    .modal #video{
        width: 250px;
        height: 140px;
    }
}
@media screen and (min-width: 1000px) {
    
    span#burger{
       display: none;
    }   
    menu{
       display: block;
    }
    menu>ul>li{
       display: inline-block;
    }
    main{
       width: 768px;
    }
   }